{{- $email := promptStringOnce . "email" "Email address" -}}

[data]
  email = {{ $email | quote }}
  shell = "PowerShell"
  shellexe = "powershell.exe"
[merge]
  command = "code"
  args = "--wait $MERGED"
[cd]
  command = "powershell"
  args = ["-NoProfile", "-NoLogo"]
[diff]
  pager = "delta"
[interpreters.ps1]
  command = "powershell"
  args = ["-NoLogo", "-NoProfile", "-NonInteractive"]

[edit]
  watch = true